{% extends "organizer/base.html" %}
{% load static %}


{% block title %}Add team{% endblock %}
{% block avatar %}src="{{ log_user_avatar}}"{% endblock %}
{% block username %}{{log_user_first|upper}} {{log_user_last|upper}}{% endblock %}
{% block role %}{{log_user_role}}{% endblock %}

{% block main_content %}

<div class="main-panel">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Add team</h2>
        <form class="forms-sample" action="{% url 'Add_team' type=type %}" method='post'>
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="team_name">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender">Coach of the Team</label>
            <select class="form-control" id="exampleSelectGender" name="coaches">
              {% for coach in coaches %}
                <option value="{{ coach.email }}">{{ coach.firstname }} {{ coach.lastname }} - {{coach.email}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleSelectTeams">Players in the team</label>
            {% for player in players %}
    
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="team{{ forloop.counter }}" name="players" value="{{ player.email }}">
                <label class="form-check-label" for="team{{ forloop.counter }}">{{ player.firstname }} {{ player.lastname }} - {{ player.email }}</label>
              </div>
            {% endfor %}
          </div>
      
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-dark"> <a href="{% url 'teams' type %}" style="text-decoration: none;">Cancel</a></button>
        </form>
      </div>
    </div>
  </div>
    <!-- content-wrapper ends -->

</div>

{% endblock %}