{% extends "organizer/base.html" %}
{% load static %}


{% block title %}Volleyball Matches{% endblock %}
{% block avatar %}src="{{ log_user_avatar }}"{% endblock %}
{% block username %}{{log_user_first|upper}} {{log_user_last|upper}}{% endblock %}
{% block role %}{{log_user_role}}{% endblock %}

{% block main_content %}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="d-flex justify-content-end mb-3">
        <div class="add_button">
            <a href="{% url 'Add_match' type %}"><button type="button" class="btn btn-danger btn-fw">Add</button></a>
        </div>
      </div>


      <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Matches List</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>

                    <tr>
                      <th> Event Name </th>
                      <th> Team 1 </th>
                      <th> Team 2</th>
                      <th> Date/Time </th>
                      <th> Result</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for data in matches_data %}
                      <tr>
                          <td>{{ data.event }}</td>
                          <td>{{ data.team1 }}</td>
                          <td>{{ data.team2 }}</td>
                          <td>{{ data.date }}</td>
                          <td>{{ data.result }}</td>
                          <td>
                              <a href="{% url 'View_match' type=type id=data.id %}"><i class="fa fa-eye text-danger"></i></a>
                              <a href="{% url 'Edit_match' type=type id=data.id %}"><i class="fa fa-pencil text-danger"></i></a>
                              <a href="{% url 'Delete_match' type=type id=data.id %}"><i class="fa fa-trash text-danger"></i></a>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->

  </div>

{% endblock %}