{% extends "organizer/base.html" %}
{% load static %}


{% block title %}Add Events{% endblock %}

{% block avatar %}src="{{ log_user_avatar }}"{% endblock %}
{% block username %}{{log_user_first|upper}} {{log_user_last|upper}}{% endblock %}
{% block role %}{{log_user_role}}{% endblock %}

{% block main_content %}

<div class="main-panel">
    <div class="row" style="margin-left: 5%;">
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Details of the Event "event_name"</h3>
              </p>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Details</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Event Name</td>
                      <td>{{data.name}}</td>
                    </tr>
                    <tr>
                      <td>Event Organizer</td>
                      <td>{{data.organizer}}</td>
                    </tr>
                    <tr>
                      <td>Start Date</td>
                      <td>{{data.start_date}}</td>
                    </tr>
                    <tr>
                      <td>End Date</td>
                      <td>{{data.end_date}}</td>
                    </tr>
                    <tr>
                      <td>Location</td>
                      <td>{{data.location}}</td>
                    </tr>
                    <tr>
                      <td>Number of Team</td>
                      <td>{{data.num_teams}}</td>
                    </tr>
                    <tr>
                        <td>Teams</td>
                        {% for team in data.teams %}
                          <td>{{team}}</td>
                        {% endfor %}
                    </tr>
                      
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- content-wrapper ends -->

</div>

{% endblock %}